@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(18, 34, 56);
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.score{
    border: 3px solid #fff;
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info{
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h6{
            font-size: 12px;
            font-weight: 300;
        }
    }

    &__count{
        background-color: #fff;
        padding: 20px 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 24px;
        }

        p{
            font-size: 36px;
        }
    }
}

.game__player{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    img{
        max-width: 100px;
    }

    &-rock, &-scissors, &-paper{
        padding: 20px;
        border-radius: 50%;
        background-color: #fff;
        max-width: 205px;

        &:hover{
            cursor: pointer;
        }
    }

    &-rock{
        border: 10px solid rgb(77, 86, 207);
        transition: .3s all ease;

        &:hover{
            border: 10px solid darken(rgb(77, 86, 207), 10%);
        }

        img{
            transition: .3s all ease;
            &:hover{
                scale: 1.1;
            }
        }
    }

    &-scissors{
        border: 10px solid rgb(241, 229, 117);
        transition: .3s all ease-in-out;

        &:hover{
            border: 10px solid darken(rgb(241, 229, 117), 10%);
        }

        img{
            transition: .3s all ease;
            &:hover{
                scale: 1.1;
            }
        }
    }

    &-paper{
        border: 10px solid rgb(224, 85, 108);
        transition: .3s all ease;

        &:hover{
            border: 10px solid darken(rgb(224, 85, 108), 10%);
        }
        
        img{
            transition: .3s all ease;
            &:hover{
                scale: 1.1;
            }
        }
    }
}

.game__opponent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0px;
    display: none;

    &-card{
        border: 10px solid rgb(224, 85, 108);
        transition: .3s all ease;
        padding: 20px;
        border-radius: 50%;
        background-color: #fff;
        max-width: 205px;

        &:hover{
            border: 10px solid darken(rgb(224, 85, 108), 10%);
            cursor: pointer;
        }
        
        img{
            transition: .3s all ease;
            max-width: 100px;

            &:hover{
                scale: 1.1;
            }
        }
    }

    h1{
        color: #fff;
        padding: 20px 0px;
    }
}